body {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: rgb(252, 246, 237);
    background-color: black;
    padding: 10%;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  #notesList div {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #222222;
    border-radius: 5px;
  }
  
  #notesList div:hover {
    background-color: #404040;
  }

  

  